body {
  font-family: "Verdana";
  background-color: #f7f7f7;
}

input {
  background-color: #dfdfdf;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 14px;
  font-weight: normal;
}

p {
  font-size: 16px;
}

button {
  margin-right: 10px;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.block-form {
  width: 100%;
  max-width: 900px;
  margin-top: 50px;
}

.block-form__title {
  text-align: center;
}

.layout-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.section-header {
  background-color: #525252;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
}

.btn-group-header {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}


.btn-group-header a {
  color: white;
  text-decoration: none;
}

.section-footer {
  background-color: #525252;
  color: white;
  text-align: right;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  padding: 10px 0;
}

.section-main-left,
.section-main-right {
  height: fit-content;
  margin: 2px;
  padding: 2%;
}

.section-main-left {
  width: 60%;
}

.section-main-right {
  width: 40%;
  background-color: #dfdfdf;
}

.section-main-left h2 {
  text-align: center;
}

.icon-info {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border-color: white;
  margin: 4px;
}

.image,
.project_image {
  width: 80%;
  height: 45%;
}

.item-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-contact__value input {
  border: none;
  width: 100%;
}

.info-section {
  margin-bottom: 40px;
}

.info-section__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.info-section__sub-title {
  font-size: 14px;
  margin-bottom: 10px;
}

.info-section__content {
  padding-left: 10px;
}


@media print {
  .block-form {
    width: 100% !important;
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .layout-main {
    flex-direction: column !important;
  }

  .section-main-left,
  .section-main-right {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .section-header,
  .section-footer {
    position: static !important;
  }
  .section-header {
    display: none;
  }
}

@media (max-width: 590px) {
  .layout-main {
    flex-direction: column;
    align-items: center;
  }
  .section-main-right, .section-main-left{
    width: 100%;
  }
}
