.container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.form_container{
    width: 100vh;
    height: 100vh;
    margin-top: 50px;
}

.main_content_container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}


.main_header {
    background-color: #525252;
    color: white;
    display: flex;
    justify-content: space-between; /* This ensures the nav_buttons and util_buttons are spaced out */
    align-items: center; /* Vertically center the buttons */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
}

.nav_buttons {
    display: flex;
    justify-content: flex-start; /* Align navigation buttons to the left */
    margin-left: 20px; /* Add some margin to the left for spacing */
}

.util_buttons {
    display: flex;
    justify-content: flex-end; /* Align utility button to the right */
    margin-right: 20px; /* Add some margin to the right for spacing */
}

.header_buttons a {
    margin: 0 10px; /* Space between buttons */
    color: white;
    text-decoration: none;
}

.contact_info a{
    text-decoration: none;
}
.main_footer{
    background-color: 	#525252;
    color: white;
    text-align: right;
    width: 100%;
    position: fixed;
    bottom:0;
    z-index: 1000;
    padding: 10px 0;
}

.header_buttons{
    padding: 4px;
    margin: 2px;
}
button{
    margin-right: 10px;
}

.main_content--right {
    width: 40%;
   
    
}
.main_content--left{
    width: 60%;
    
}

.main_content--left h2{
    text-align: center;
}

.main_content--right{
    background-color: 	#dfdfdf ;
}

.main_content--left, .main_content--right{
    height: fit-content;
    margin: 2px;
    padding: 2%;
}

.main_content--center{
    height: fit-content;
    margin-left: 200px;
    margin-right: 200px;
    padding: 2%;
}

.info_icon {
    width: 50px;
    height:50px;
}

.project_image{
    width: 80%;
    height: 45%;
}
.image{
    width: 80%;
    height:45%;
}

.contact_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

input{
    background-color:#dfdfdf ; 
}

h2{
    font-size:x-large;
}
h3{
    font-size: large;
}
h4{
    font-size:medium;
    font-weight: normal;
}

p{
    font-size: 18px;
}




.info_icon{
    border-radius: 30px;
    border-color: white;
    margin:4px;
}

.contact_value input {
    border: none;
  
}

a:hover{
    color: red;
}